@import "bootstrap-sprockets";
@import "bootstrap";
@import "selectize/selectize.bootstrap3";
@import "../bower_components/angular-ui-select/dist/select.css";

body{ 
    font-size:1em; 
}
html{ 
    font-size:100%; 
}

.recipe-list{
    margin-top: 1em;
}
