<div class="recipe-view">
    <div class="row">
        <h3 col-xs-12>{{vm.recipe.name}}</h3>
        <h5>{{vm.recipe.beer_type}}</h5>
    </div>
    <div class="row">
        <a ui-sref="recipes.edit({recipe_id: vm.recipe.id})" role="button" class="btn btn-primary">Edit Recipe</a>
        <button type="button" class="btn btn-danger" ng-click="vm.delete(vm.recipe)">Delete</button>
    </div>
    <div class="row">
        <tabset class="hidden-xs">
        <tab ng-repeat="tab in vm.tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
        <div ng-include="tab.template"></div>
        </tab>
        </tabset>

        <accordion class="visible-xs" close-others="oneAtATime">
        <accordion-group heading="{{tab.title}}" is-open="tab.active" ng-repeat="tab in vm.tabs">
            <div ng-include="tab.template"></div>
        </accordion-group>
        </accordion>
    </div>
    <equipment-select profile="vm.recipe.equipment_profile"></equipment-select>
    <water-calculations grains="vm.grains"></water-calculations>
</div>
