<form class="form-horizontal" name="postForm" ng-submit="recipes.submit_recipe(recipes.recipe.name, recipes.recipe.beer_type, recipes.grains, recipes.hops)" novalidate>
    <div class="form-group">
        <div class="row">
            <label class="col-md-1 control-label">Name</label>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-disabled="{{readOnly}}" name="name" placeholder="Recipe Name" ng-model="recipes.recipe.name" required>
                <p ng-show="postForm.name.$invalid && !postForm.name.$pristine" class="help-block">Recipe Name Required.</p>
            </div>
            <label class="col-md-2 control-label">Beer Type</label>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-disabled="{{readOnly}}" name="beertype" placeholder="IPA" ng-model="recipes.recipe.beer_type" required>
                <p ng-show="postForm.beer_type.$invalid && !postForm.beer_type.$pristine" class="help-block">Beer Type is required</p>
            </div>
        </div>
        <equipment-select equipment-id="recipes.recipe.equipment_id"></equipment-select>
    </div>
    <hr />
    <additions-form additions="recipes.additions" to-delete="recipes.toDelete" recipe="recipes.recipe"></additions-form>
    <div class="col-md-12">
        <hr style="padding-bottom: 40px"/>
        <button type="submit" ng-show="!readOnly" class="btn btn-success pull-right">Save Recipe</button>
    </div>
</form>


