<div class="form-group col-md-12">
    <div class="row">
        <label class="col-md-1 control-label">Name</label>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-disabled="{{readOnly}}" name="name" placeholder="Recipe Name" ng-model="vm.recipe.name" required>
            <p ng-show="postForm.name.$invalid && !postForm.name.$pristine" class="help-block">Recipe Name Required.</p>
        </div>
        <label class="col-md-2 control-label">Beer Type</label>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-disabled="{{readOnly}}" name="beertype" placeholder="IPA" ng-model="vm.recipe.beer_type" required>
            <p ng-show="postForm.beer_type.$invalid && !postForm.beer_type.$pristine" class="help-block">Beer Type is required</p>
        </div>
    </div>
    <equipment-select profile="vm.recipe.equipment_profile"></equipment-select>
    <recipe-details recipe="vm.recipe"></recipe-details>
</div>
