<h1>Edit Recipe</h1>
<form class="form-horizontal" name="recipeForm" ng-submit="vm.submit_recipe(vm.recipe.name, vm.recipe.beer_type, vm.grains, vm.hops)" novalidate>
    <div class="row">
        <tabset class="hidden-xs">
        <tab ng-repeat="tab in vm.tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
            <div ng-show="tab.template" ng-include="tab.template"></div>
            <additions-form ng-hide="tab.template" additions="vm.additions" to-delete="vm.toDelete" recipe="vm.recipe" show-grains="{{tab.showGrains}}" show-hops="{{!tab.showGrains}}"></additions-form>
        </tab>
        </tabset>

        <accordion class="visible-xs " close-others="oneAtATime">
        <accordion-group heading="{{tab.title}}" is-open="tab.active" ng-repeat="tab in vm.tabs">
            <div ng-show="tab.template" ng-include="tab.template"></div>
            <additions-form ng-hide="tab.template" additions="vm.additions" to-delete="vm.toDelete" recipe="vm.recipe" show-grains="{{tab.showGrains}}" show-hops="{{!tab.showGrains}}"></additions-form>
        </accordion-group>
        </accordion>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <button type="submit" class="btn btn-success pull-right">Save Recipe</button>
        </div>
    </div>

</form>
