<form class="form-horizontal" name="postForm" ng-submit="recipes.submit_recipe(recipes.recipe.name, recipes.recipe.beer_type, recipes.grains, recipes.hops)" novalidate>
    <div class="form-group">
        <div class="row">
            <label class="col-md-1 control-label">Name</label>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-disabled="{{readOnly}}" name="name" placeholder="Recipe Name" ng-model="recipes.recipe.name" required>
                <p ng-show="postForm.name.$invalid && !postForm.name.$pristine" class="help-block">Recipe Name Required.</p>
            </div>
            <label class="col-md-2 control-label">Beer Type</label>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-disabled="{{readOnly}}" name="beertype" placeholder="IPA" ng-model="recipes.recipe.beer_type" required>
                <p ng-show="postForm.beer_type.$invalid && !postForm.beer_type.$pristine" class="help-block">Beer Type is required</p>
            </div>
        </div>
    </div>
    <hr />
    <grain-list-form grains="recipes.grains"></grain-list-form>

    <div class="col-md-6">
        <ng-form name="hopForm" ng-model="recipes.hops">
            <h3>Add Hop Additions</h3>
            <div class="row">
                <div class="col-md-3">
                    <label for="weight">Time(min)</label>
                </div>
                <div class="col-md-3">
                    <label for="weight">Weight(oz)</label>
                </div>
                <div class="col-md-5">
                    <label for="hops">Hops</label>
                </div>
            </div>

            <div class="form-group" data-ng-repeat="hop in recipes.hops">
                <div class="col-md-3">
                    <input type="number" class="form-control" ng-disabled="{{readOnly}}" ng-model="hop.time" name="time" placeholder="min">
                </div>
                <div class="col-md-3">
                    <input type="number" class="form-control" ng-disabled="{{readOnly}}" ng-model="hop.amount" name="amount" placeholder="oz">
                </div>
                <div class="col-md-5">
                    <select class="form-control" ng-model="hop.name" ng-disabled="{{readOnly}}" ng-options="h.name for h in recipes.hop_options track by h.name"> </select>
                </div>
                <div class="col-md-1">
                    <button type="button" ng-show="recipes.hops.length > 1 && !readOnly" class="btn btn-danger" ng-click="recipes.removeHop(hop)">X</button>
                </div>
                <div class="col-md-11" style="padding-top: 15px">
                    <button type="button" class="btn pull-right" ng-show="$last && !readOnly" ng-click="recipes.addNewHop()">Add More</button>
                </div>
            </div>
        </ng-form>
    </div>
    <div class="col-md-12">
        <hr style="padding-bottom: 40px"/>
        <button type="submit" ng-show="!readOnly" class="btn btn-success pull-right">Save Recipe</button>
    </div>
</form>


