<div class="row">
    <h1>View Recipe</h1>
</div>
<ng-include src="'partials/recipes/form.html'"></ng-include>
<div class="form-group">
    <div class="col-md-11">
        <a href="#/recipes/{{recipe.id}}/edit" role="button" class="btn btn-primary pull-right">Edit Recipe</a>
    </div>
</div>
<div class="col-md-12">
    <h3>Grain Bill: {{getGrainBill()}}</h3>
    <h3>Total Vol: {{totalVol | number }}</h3>
    <h3>Mash Vol: {{mashVol | number }}</h3>
    <h3>Sparge Vol: {{spargeVol | number }}</h3>
</div>
