<div class="col-md-6">
    <ng-form name="grainForm" ng-model="additionCtrl.additions.grains">
    <h3>Add Grain Additions</h3>
    <div class="row">
        <div class="col-md-3">
            <label for="weight">Weight(lbs)</label>
        </div>
        <div class="col-md-6">
            <label for="grain">Grain</label>
        </div>
    </div>
    <div class="form-group" data-ng-repeat="grain in additionCtrl.additions.grains" >
        <div class="col-md-3">
            <input type="number" class="form-control" ng-model="grain.amount" name="amount" placeholder="lbs">
        </div>
        <div class="col-md-7">
        <ui-select ng-model="grain.addition_id" theme="selectize" ng-disabled="disabled">
            <ui-select-match placeholder="Select or search a grain in the list...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="grain.id as grain in additionCtrl.options.grains | filter: {name: $select.search}">
                <span ng-bind-html="grain.name | highlight: $select.search"></span>
                <small ng-bind-html="grain.region | highlight: $select.search"></small>
            </ui-select-choices>
        </ui-select>
        </div>
        <div class="col-md-2">
            <button type="button" ng-show="additionCtrl.additions.grains.length > 1 && !readOnly" class="btn btn-danger" ng-click="additionCtrl.removeAddition(grain)">X</button>
        </div>
        <div class="col-md-10" style="padding-top: 15px">
            <button type="button" class="btn pull-right" ng-show="$last && !readOnly" ng-click="additionCtrl.addNewAddition('grain')">Add More</button>
        </div>
    </div>
    </ng-form>
</div>
<div class="col-md-6">
    <ng-form name="hopForm" ng-model="additionCtrl.additions.hops">
    <h3>Add Hop Additions</h3>
    <div class="row">
        <div class="col-md-3">
            <label for="weight">Time(min)</label>
        </div>
        <div class="col-md-3">
            <label for="weight">Weight(oz)</label>
        </div>
        <div class="col-md-5">
            <label for="hops">Hops</label>
        </div>
    </div>

    <div class="form-group" data-ng-repeat="hop in additionCtrl.additions.hops">
        <div class="col-md-3">
            <input type="number" class="form-control" ng-disabled="{{readOnly}}" ng-model="hop.time" name="time" placeholder="min">
        </div>
        <div class="col-md-3">
            <input type="number" class="form-control" ng-disabled="{{readOnly}}" ng-model="hop.amount" name="amount" placeholder="oz">
        </div>
        <div class="col-md-5">
        <ui-select ng-model="hop.addition_id" theme="selectize" ng-disabled="disabled">
            <ui-select-match placeholder="Select or search a hop in the list...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="hop.id as hop in additionCtrl.options.hops | filter: {name: $select.search}">
                <span ng-bind-html="hop.name | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
        </div>
        <div class="col-md-1">
            <button type="button" ng-show="additionCtrl.additions.hops.length > 1 && !readOnly" class="btn btn-danger" ng-click="additionCtrl.removeAddition(hop)">X</button>
        </div>
        <div class="col-md-11" style="padding-top: 15px">
            <button type="button" class="btn pull-right" ng-show="$last && !readOnly" ng-click="additionCtrl.addNewAddition('hop')">Add More</button>
        </div>
    </div>
    </ng-form>
</div>
